@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAFAFA;
  color: #171717;
  margin: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-scroll {
  display: flex;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}
